name: Build & Test

on:
  push:
    branches: main
  pull_request:
    branches: main

env:
  WASI_VERSION: 17
  WASI_VERSION_FULL: "17.0"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Rust
        run: rustup update stable --no-self-update && rustup default stable
      - name: Install wasm32-unknown-unknown target
        run: rustup target add wasm32-unknown-unknown
      - name: Install wasm32-wasi target
        run: rustup target add wasm32-wasi

      - name: Install WIT Bindgen
        run: cargo install --git https://github.com/bytecodealliance/wit-bindgen wit-bindgen-cli

      - name: Install wasi-sdk
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            export WASI_OS="linux";
          fi
          if [[ "$RUNNER_OS" == "macOS" ]]; then
            export WASI_OS="macos";
          fi
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            export WASI_OS="mingw";
          fi

          curl -sL https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-${WASI_VERSION}/wasi-sdk-${WASI_VERSION_FULL}-${WASI_OS}.tar.gz -O
          # check if package downloaded
          ls -la
          tar xvf wasi-sdk-${WASI_VERSION_FULL}-${WASI_OS}.tar.gz

          # print clang version
          ./wasi-sdk-${WASI_VERSION_FULL}/bin/clang --version

      - name: Setup Chomp
        uses: guybedford/chomp-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Compile to Wasm & Test Wasm
        env:
          WASI_PATH: './wasi-sdk-${{ env.WASI_VERSION_FULL }}'
        run: chomp test

      - name: Footprint
        run: chomp footprint

      - name: Benchmark Wasm
        run: chomp bench
